html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: orange;
}

.list li {
  color: white;
}

.list li:nth-child(2n) {
  background: red;
}

.list li:nth-child(odd) {
  background: blue;
}
